.preview {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 80px;
  background: linear-gradient(to bottom right, var(--color-white-100) 50%, var(--color-orange-5) 50%);

}

@media (max-width: 800px) {
  .preview {
    padding-inline: 16px;
    flex-direction: column;
  }
}


@media (max-width: 800px) {
  .preview__image {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }
}

.preview__title {
  font-size: 56px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .preview__title {
    font-size: 32px;
  }
}

.preview__right {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media (max-width: 800px) {
  .preview__right {
    align-items: center;
    text-align: center;
  }
}

.preview__score {
  color: var(--color-black-100);
  opacity: 50%;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: -58px;
}

.preview__reward {
  font-size: 56px;
  font-weight: 600;
  color: var(--color-black-100);
}