:root {
  --color-orange-120: #E87928;
  --color-orange-100: #FF8B37;
  --color-orange-80: #FFAC70;
  --color-orange-5: #FFF3EB;
  --color-green-100: #47D867;
  --color-green-5: #E6FAEA;
  --color-red-100: #EC6259;
  --color-red-5: #FDEEED;
  --color-black-100: #1C1C21;
  --color-black-40: #D0D0D8;
  --color-black-5: #F5F5F7;
  --color-white-100: #FFFFFF;
  
  --phone-max-width: 800px;
  --tablet-max-width: 1024px;

}

html {
  min-width: 375px;
  }

* {
  margin: 0;
  padding: 0;
}

.icon {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 16px;
  right: 16px;
  background-repeat: no-repeat;
  display: none;
}

@media (max-width: 800px) {
  .icon {
    display: block;
  }
}

.icon--menu {
  background-image: url('/Menu.svg');
}

.icon--close {
  background-image: url('/Close.svg');
}