:root {
  --color-orange-120: #E87928;
  --color-orange-100: #FF8B37;
  --color-orange-80: #FFAC70;
  --color-orange-5: #FFF3EB;
  --color-green-100: #47D867;
  --color-green-5: #E6FAEA;
  --color-red-100: #EC6259;
  --color-red-5: #FDEEED;
  --color-black-100: #1C1C21;
  --color-black-40: #D0D0D8;
  --color-black-5: #F5F5F7;
  --color-white-100: #FFFFFF;
}

html {
  min-width: 320px;
}

* {
  margin: 0;
  padding: 0;
}

.game {
  display: flex;
  height: 100vh;
}

.game__main {
  flex: 1;
  padding: 130px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-black-5);
  position: relative;
}

@media (max-width: 1199px) {
  .game__main {
    padding: 24px 16px;
    justify-content: space-evenly;
    align-items: center;
  }
}

.game__question {
  font-size: 32px;
  font-weight: 600;
}

.answers-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

@media (max-width: 1199px) {
  .answers-container {
    justify-content: center;
  }
}

.game__ladder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 800px) {
  .game__ladder {
    display: none;
  }
}

.icon {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 16px;
  right: 16px;
  background-repeat: no-repeat;
  display: none;
}

@media (max-width: 800px) {
  .icon {
    display: block;
  }
}

.icon--menu {
  background-image: url('/Menu.svg');
}

.icon--close {
  background-image: url('/Close.svg');
}